@model SigninVm
@{ Layout = null;}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - AuthorizationWithPermission.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/AuthorizationWithPermission.MVC.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AuthorizationWithPermission.MVC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"></div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        <div><p>@ViewBag.LoginMessage</p></div>
        <div>
            <form asp-action="Signin" asp-controller="Login" method="post">
                <div class="form-group">
                    <label asp-for="UserName">Username</label>
                    <input type="text" class="form-control" asp-for="UserName" placeholder="Enter username">
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" class="form-control" asp-for="Password" placeholder="Enter password">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" asp-for="Remember">
                    <label class="form-check-label" asp-for="Remember">Remember me</label>
                </div>
                <button type="submit" class="btn btn-primary">Signin</button>
            </form>
        </div>
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - AuthorizationWithPermission.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>